@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #ffc107;
  }
  .off {
    color: #ccc;
  }

  .product-image {
    height: 400px; /* Set your desired fixed height */
    object-fit: cover; /* Preserve aspect ratio and cover the entire space */
}